<section id="intro">

	<h1>LessQL is a lightweight and efficient alternative to Object-Relational Mapping for PHP.</h1>
	<p class="center">A novel, intuitive approach to SQL databases that performs:</p>

	<pre><code data-language="php">
	// Connect to database
	$pdo = new PDO( 'sqlite:blog.sqlite3' );
	$db = new LessQL\Database( $pdo );

	// Find posts, their authors and categories efficiently:
	// Eager loading of references happens automatically.
	// This example only needs FOUR queries, one for each table.
	foreach ( $db-&gt;post()
		-&gt;where( 'is_published', 1 )
		-&gt;orderBy( 'date_published', 'DESC' ) as $post ) {

		$author = $post-&gt;user()-&gt;fetch();

		foreach ( $post-&gt;categorizationList()-&gt;category() as $category ) {

			// ...

		}

	}
	</code></pre>

	<div class="grid center">

		<div class="col-1-3">
			<h2 class="upper">Less Code</h2>
			<p>No models, no configuration, no glue code.
				Just start working with your existing database immediately.</p>
		</div>

		<div class="col-1-3">
			<h2 class="upper">Less Queries</h2>
			<p>Find associated data from multiple database tables using a minimal amount of queries.
				No more N+1&nbsp;problems.</p>
		</div>

		<div class="col-1-3">
			<h2 class="upper">Less Hassle</h2>
			<p>The concise and intuitive <a href="/api">API</a>
				is easily learned and provides all the capabilities you need.</p>
		</div>

	</div>

	<div class="grid center">

		<div class="col-1-3">
			<h2 class="upper">Direct</h2>
			<p>Work closely to your database instead of using an
				<a href="/about">inadequate abstraction layer</a>.</p>
		</div>

		<div class="col-1-3">
			<h2 class="upper">Powerful</h2>
			<p>Save complex, nested structures with one method call,
				blend with raw SQL at any time, and more.</p>
		</div>

		<div class="col-1-3">
			<h2 class="upper">Tested</h2>
			<p>Fully tested with MySQL, PostgreSQL, and SQLite3.</p>
		</div>

	</div>

	<p class="center mt">
		<a href="https://travis-ci.org/morris/lessql"><img src="https://camo.githubusercontent.com/b8bac5d56ab0c58224cf601a2daa24e4b46d5fb6/68747470733a2f2f7472617669732d63692e6f72672f6d6f727269732f6c657373716c2e7376673f6272616e63683d6d6173746572" alt="Build Status" data-canonical-src="https://travis-ci.org/morris/lessql.svg?branch=master" style="max-width:100%;"></a>
		<a href="https://codeclimate.com/github/morris/lessql/coverage"><img src="https://camo.githubusercontent.com/1725c83e1402073b5982393be11e319a5128cafd/68747470733a2f2f636f6465636c696d6174652e636f6d2f6769746875622f6d6f727269732f6c657373716c2f6261646765732f636f7665726167652e737667" alt="Test Coverage" data-canonical-src="https://codeclimate.com/github/morris/lessql/badges/coverage.svg" style="max-width:100%;"></a>
		<a href="https://gitter.im/morris/lessql?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Join the chat at https://gitter.im/morris/lessql" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;"></a>
	</p>

</section>

<section id="getstarted">

	<h1><a href="/guide">Get started &gt;</a></h1>

	<p>

	</p>

</section>

<% var buffer = __output.join( '' ); __output.length = 0; %>
<%- include( 'layout.ejs', { main: buffer } ) %>
